/* RESET */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html{
    font-family: "Open Sans", sans-serif;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    padding: 0;
}

/* LAYOUT */

.container {
    max-width: 1000px;
    min-height: 1000px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-33 {
    width: 32%;
    margin: 5px;
    position: relative;

}

/* HEADER */

.navbar {
    background-color: orange;
    min-height: 50px;
}

.main-menu {
    display: flex;
}

.list{
    display: flex;
    gap: 15px;
    align-items: center;
    color: white;
}

.list li{
    color: white;
    font-weight: bold;
}

.navbar .container,.row{
    min-height: 50px;
}

.navbar .row{
    align-items: center;
}

.main-logo img{
    width: 20%;
}

.main-logo{
    display: flex;
    justify-content: center;
}

.main-logo a{
    text-align: center;
}

.navbar a{
    color: white;
    font-weight: bold;
}


/* MAIN CONTENT */

.main-content{
    position: relative;
}

.main-content .row{
margin: auto;
padding-top: 40px;
}

.model {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.sconto strong{
    color: red;

}

.marca{
    font-size: 12px;
    color: grey; 
}

.description{
    font-size: 14px;
}

.sconto{
    font-size: 10px;
    font-weight: bold;
}

p{
    line-height: 15px;
    font-weight: bold;
}

/* DECORAZIONI */

.heart{
    z-index: 2;
    height: 40px;
    width: 40px;
    background-color: white;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    text-align: center;
    line-height: 35px;
}

.heart:hover{
    color: red;
}

.discount{
    z-index: 2;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 80px;
    font-size: 10px;
    color: white;
    font-weight: bold;
    padding: 2px 6px;
    display: inline-block;
}

.material{
    z-index: 2;
    background-color: green;
    position: absolute;
    left: 38px;
    bottom: 80px;
    font-size: 10px;
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 2px 8px;
}

.material.last{
    left: 0px;
    }
    
/* DEBUG */

.debug {
    border: 2px solid black;
}